body {
    width: 100%;
    margin: 0px;
}

.homePageWrapper{
    position: relative;
    width: 100%;
}

.topBarSytle{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 82px;
    background-color: blue;
}

.underBarStyle{
    position: absolute;
    top: 82px;
    width: 100%;
    height: 58px;
    background-color: yellow;
}

.bannerWrapperStyle{
    position: absolute;
    top: 140px;
    width: 100%;
}